*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    

}

body {
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    background:#1b1b1b;
    
}

.calculator{
    position: relative;
    display: grid;
    background:#292929;
    margin-right: 50rem;
    
    

}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: left;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    background:#f3efef;  
}

.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    background:#292929;
    place-items: center;
    border:1px solid rgba(0,0,0,0.1);
    color: #fff;

}

.calculator span.clear{
    grid-column: span 2;
    width: 180px;
    background:rgb(255,163,26)

}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal{
    background:rgb(255,163,26)
}

.calculator span:active{
    background:rgb(255,163,26)
}